* {
    margin: 0;
    padding: 0;
    background-color: #a6a7bc;
}



.header{
    text-align: center;
    padding: 1em;
    font-size: 64px;
    font-weight: 800;
    color: orange;
    background-color: #757691;
}

.status{
    text-align: center;
    padding: 1em;
    font-size: 24px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 100px;

    justify-content: center; 
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color, .5s;
    border-style: solid;
    border-width: 1px;
    font-size: 50px;
}

li:hover{
    background-color: rgb(223, 235, 246);
    cursor: pointer;
    transition: background-color, .5s;
    
}

button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: orange;
    font-size: 18px;
}